<h2>New Bug Assigned</h2>
  <p>Hello <%= @user.name %>,</p>
  <p>A new bug has been assigned to you:</p>
  <p>Project Name: <%= @bug.title %></p>
  <p>Please log in to your account to view more details.</p>
  <p>Regards,</p>
  <p>Your Application Team</p>
</body>