<h2>Bug is updated</h2>
  <p>Hello <%= @user.name %>,</p>
  <p>Your previusly assigned bug is updated:</p>
  <p>Bug Name: <%= @bug.title%></p>
  <p>Please log in to your account to view more details.</p>
  <p>Regards,</p>
  <p>Your Application Team</p>
</body>